# Environment variables for docker-compose.yml
LOG_LEVEL=DEBUG

## Host
HOST=localhost

# App Config
APP_CONTAINER_NAME=app-starter
APP_HTTP_PORT=80
APP_HTTPS_PORT=443
APP_PATH=/

# Local Database Config
DB_HOST=db-starter
DB_NAME=app
DB_USER=jack
DB_PASSWORD=jack
DB_CONTAINER_PORT=3306

# External Database Config
# Connect to localhost:DB_HOST_PORT
DB_HOST_PORT=9999
DB_ROOT_PASSWORD=toor
